.container-fluid {
  padding: 0px;
}
.header {
  background-color: #2b5373;
  color: #eee;
  padding: 5px;
  text-align: center;
}
.form-login {
  box-shadow: 1px 1px 1px 3px rgb(0 0 0 / 10%);
  position: absolute;
  top: 35%;
  left: 50%;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  transform: translate(-50%,-50%);
  padding: 25px;
  background-color: hsla(0,0%,100%,.8);
  border-radius: 3px;
  z-index: 200;
}

input[type=text], [type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #3878ab;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}
