<div class="container-fluid">
  <div class="row header-container"> 
    <div class="header">
      <h3>Login</h3>
    </div>
  </div>
</div>
<form class="form-login">
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" class="form-control" placeholder="Enter Username" name="uname"
    [(ngModel)]="userName"
    required>    
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <button (click)="setUser()">Login</button>
  </div>
</form>
