.container-fluid {
  padding: 0px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 3.2rem;
  left: 0;
  background-color: #2b5373;
  overflow-x: hidden;
  padding-top: 20px;
}
  
.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 19px;
  color: #eee;
  display: block;
}
  
.sidenav a:hover {
  color: #817d7d;
}

.sidenav-container {
  width: 15%;
}
.header {
  background-color: #2b5373;
  color: #eee;
  padding: 5px;
  text-align: center;
}
.rOutlet-container {
  width: 85%;
}